@font-face {
    font-family: Piazzolla;
    src: url(https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;700&display=swap);
  }

html, body {
    background:url("https://images.unsplash.com/photo-1601254668812-651f0b85a6a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");      
    background-size:100% 100%;
    background-repeat:no-repeat;
    font-family: Piazzolla;
    height: 100%;
    width: 100%;
}

.navbar {
    padding: .8rem
}
.navbar-nav {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}
h3 {
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 20px;
    text-shadow: 1px 1px 1px #000;
}
.card {
    margin-top: 20%;
    margin-bottom: 25%;    
} 
.card-img {
    float: left;
    margin-right: 20px; 
}
